
* {
	box-sizing: border-box;
	text-align: center;
	font-family: "Arial";
}

body {
	background-image: url("../../assets/images/concrete-texture.png")
}


#first {
	
	background-color: #ffffff;
	height: 95px;
	border-bottom: solid;
	border-color: #cccccc;
}

#name {
	margin-right: 0px;
	margin-left: 150px;
	background-color: #4aaaa5;
	color: #eee;
	font-size: 28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	float: left;
	padding: 31px;
}

nav {
	padding-top: 40px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: #666666;
}

.bigblock {

	padding: 20px;
	height: 500px;
	width: 600px;
	background-color: #ffffff;
	float: left;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	border-bottom: solid;
	margin-bottom: 40px;
	border-color: #999;
}

#p {
	padding: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #888;
}

aside {
	padding-top: 20px;
	padding-left: 10px;
	background-color: #ffffff;
	color: #888;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	padding-bottom: 37px;
	border-bottom: solid;
	margin-bottom: 45px;
	border-color: #999;
}

a {
	padding: 10px;
}

footer {
	clear: both;
	background-color: #666666;
	height: 100px;
	margin-bottom: 0;
	border-top: solid;
	border-color: #4aaaa5;
	border-top-width: 8px;
	padding: 25px;
	font-size: 12px;
	color: #999;
}